<% include header %>

<br>
<div class="row">
	<div class="medium-12 columns">
		<h1>表格 2 - 幹事會資料</h1>
		<form action="/submit_form2" method="post" enctype="multipart/form-data">
			<labal>幹事會內閣名稱
				<input type="text" value="<%= exco.exco_name %>" name="exco_name">
				任期
				<div class="row date-field">
				<div class="columns medium-5"><input type="date" name="start_date" value="<%= exco.exco_start_date %>"></div> 
				<div class="columns medium-1" style="text-align:center">至</div>
				<div class="columns medium-6"><input type="date" name="end_date" value="<%= exco.exco_end_date %>"></div>
				</div>
			</labal>
			幹事會成員 
			
			<div style="display:none;">
				<fieldset class="post" id="postInfoTemp" >
				    	<legend>職位
						<input type="text" name="post[]"></legend>
				<div class="row">
					<div class="columns medium-4">
						中文姓名
						<input type="text" name="chineseName[]">
					</div>

					<div class="columns medium-4">
						英文姓名
						<input type="text" name="englishName[]">
					</div>

					<div class="columns medium-4">
						學生證編號
						<input type="text" name="sid[]">
					</div>
				</div>
				<div class="row">
					<div class="columns medium-4">
						聯絡電話
						<input type="text" name="phone[]">
					</div>
					<div class="columns medium-3">
						書院
						<select name="college[]" id="">
							<option value="CC">崇基學院</option>
							<option value="NA">新亞書院</option>
							<option value="UC">聯合書院</option>
							<option value="SC">逸夫書院</option>
							<option value="SH">晨興書院</option>
							<option value="MC">善衡書院</option>
							<option value="WS">和聲書院</option>
							<option value="WYS">伍宜孫書院</option>
							<option value="CW">敬文書院</option>
						</select>
					</div>
					<div class="columns medium-3">
						學系
						<input type="text" name="dept[]">
					</div>
					<div class="columns medium-2">
						年級
						<input type="text" name="year[]">
					</div>

				</div>
				</fieldset>	
			</div>
			<div id="postInfo">

			<% if(excoMembers!=" ") {%>
			<% excoMembers.forEach(function(member){ %>
				  <fieldset class="post">
				  <input type="hidden" name="vid[]" value="<%= member.exco_member_id %>"> 
				  </legend>
				    	<legend>職位
						<input type="text" name="post[]" value="<%= member.exco_member_post %>"></legend>
				<div class="row">
					<div class="columns medium-4">
						中文姓名
						<input type="text" name="chineseName[]" value="<%= member.exco_member_Cname %>">
					</div>

					<div class="columns medium-4">
						英文姓名
						<input type="text" name="englishName[]" value="<%= member.exco_member_Ename %>">
					</div>

					<div class="columns medium-4">
						學生證編號
						<input type="text" name="sid[]" value="<%= member.exco_member_sid %>">
					</div>
				</div>
				<div class="row">
					<div class="columns medium-4">
						聯絡電話
						<input type="text" name="phone[]" value="<%= member.exco_member_phone %>"s>
					</div>
			<div class="columns medium-3">
				書院
				<select name="college[]" id="">
			<option value="CC" <% if(member.exco_member_college=='CC'){%> selected <% }%> >	
					崇基學院
			</option>

			<option value="NA" <% if(member.exco_member_college=='NA'){%> selected <% }%>>
				新亞書院
			</option>
			<option value="UC" <% if(member.exco_member_college=='UC'){%> selected <% }%>>
				聯合書院
			</option>
			<option value="SC" <% if(member.exco_member_college=='SC'){%> selected <% }%>>
				逸夫書院
			</option>
			<option value="SH" <% if(member.exco_member_college=='SH'){%> selected <% }%>>
				晨興書院
			</option>
			<option value="MC" <% if(member.exco_member_college=='MC'){%> selected <% }%>>
				善衡書院
			</option>
			<option value="WS" <% if(member.exco_member_college=='WS'){%> selected <% }%>>
				和聲書院
			</option>
			<option value="WYS" <% if(member.exco_member_college=='WYS'){%> selected <% }%>>
				伍宜孫書院
			</option>
			<option value="CW" <% if(member.exco_member_college=='CW'){%> selected <% }%>>
				敬文書院
			</option>
				</select>
			</div>
					<div class="columns medium-3">
						學系
						<input type="text" name="dept[]" value="<%= member.exco_member_major %>">
					</div>
					<div class="columns medium-2">
						年級
						<input type="text" name="year[]" value="<%= member.exco_member_year_of_study %>">
					</div>

				</div>
				</fieldset>	
				<script>
					document.body.style.height==''?document.body.style.height=(document.documentElement.clientHeight +280)+'px':document.body.style.height=(parseInt(document.body.style.height) +280)+'px';
				</script>
			<% });} %>


			</div>
	
		</form>
		
	</div>
</div>

