<% include header %>

<div id="container">
    <div class="row">
        <div class="small-3 columns">&nbsp</div>
	    <div class="medium-12 columns">
            <h1>發送郵件</h1>
        </div>
    </div>
    <div class="row">
        <div class="small-3 columns">請輸入電郵地址:</div>
        <div class="medium-12 columns">
            <input id="to" type="text" placeholder="Please Enter The Receiver's Email Address." class="medium-12 columns medium-centered"/>
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <button id="send_email">發送登記成功通知</button>
        </div>
        <div class="small-6 columns">
            <button id="send_f_email">發送登記失敗通知</button>
        </div>    </div>
    <center><span id="message"></span></center>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>// <![CDATA[
$(document).ready(function(){
    var from,to,subject,text;
    $("#send_email").click(function(){ 
        to=$("#to").val();
        $("#message").text("Sending E-mail...Please wait");
        $.get("/send",{to:to},function(data){
            if(data=="sent")
            {
                $("#message").empty().html("Email is been sent at "+to+" .");
            }

        });
    });
    $("#send_f_email").click(function(){ 
        to=$("#to").val();
        $("#message").text("Sending E-mail...Please wait");
        $.get("/fsend",{to:to},function(data){
            if(data=="sent")
            {
                $("#message").empty().html("Email is been sent at "+to+" .");
            }

        });
    });
});
</script>

<% include footer %>