<% include header %>

<br>
<div class="row">

	<div class="medium-12 columns">
		<h1 style="display:inline">張貼公告</h1><a href="#" data-reveal-id="modify_notice" id="edit">修改現有公告</a>
		<form action="submit_notice" method="post">
			<labal>公告標題
				<input type="text" name="notice_header" id="notice_header" value='<%= content.title %>'></input>
				<textarea name="addidtional_info" id="addidtional_info" ><%= content.notice_content %></textarea>
			</labal>
			
			<div class="row">
				<input type="submit" value="張貼" class="button medium-3 columns" name="post">
				<% if ( showDelete=="show" ) { %>
					<input type="submit" value="刪除" class="button alert medium-3 columns" name="delete">
				<% } %>
			</div>
			<input type="hidden" name="updateOrNew" value="<%= updateOrNew %>"> 
		</form>
	</div>
</div>

<div id="modify_notice" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
	<h2>修改現有公告</h2>
  	<table id="current_notice_table">	
		<thead>
			<tr> 
				<th width="100">標題</th>
				<th width="200">內容</th>
				<th width="10"></th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
 	<a class="close-reveal-modal">&#215;</a>

</div>


<script>
	var editB = document.getElementById('edit');
	var notice_list = <%- JSON.stringify(notice_list) %>;
	editB.onclick = function(){Edit_notice(notice_list)};
</script>
<script>
	function Edit_notice(notice_list){
		var table = document.getElementById('current_notice_table').getElementsByTagName('tbody')[0];
		table.innerHTML = '';
		var whichRow=0;
		for(var i=0;i<notice_list.length;i++){
			var row = table.insertRow(whichRow);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);

			cell1.innerHTML = notice_list[i].title;
			cell2.innerHTML = notice_list[i].notice_content;
			cell3.innerHTML = '<a href="/post_notice?which='+notice_list[i].notice_id+'">修改</a>'

			whichRow++;
		}
	}
</script>
<% include footer %>