<% include header %>
<div class="row">

	<div class="medium-12 columns">
		<h1><%= Soc.soc_name%> <!-- <span class="info label">處理中</span> --></h1>
		<div class="row">
		<div class="medium-6 columns" >
		
			<dl class="sub-nav">
			  <% if(Soc.constitution_ref_no != null){ %> <dd><a href="/files<%=Soc.constitution_ref_no%>" target="left">會章</a></dd> <% } %>
			  <dd><a href="/admin_regsoc_form1?soc_code=<%=id%>" target="left">表1</a></dd>
			  <dd><a href="/admin_regsoc_form2?soc_code=<%=id%>" target="left">表2</a></dd>
			  <dd><a href="/admin_regsoc_form3?form3=A&soc_code=<%=id%>" target="left">3A</a></dd>
			  <dd><a href="/admin_regsoc_form3?form3=B&soc_code=<%=id%>" target="left">3B</a></dd>
			  <dd><a href="/admin_regsoc_form3?form3=C&soc_code=<%=id%>" target="left">3C</a></dd>
			  <dd><a href="/admin_regsoc_form3?form3=D&soc_code=<%=id%>" target="left">3D</a></dd>
			  <dd><a href="/admin_regsoc_form4?soc_code=<%=id%>" target="left">表4</a></dd>
			  <dd><a href="/files/soc/<%=Soc.constitution_ref_no%>" target="left">會章</a></dd>
			</dl> 
				<iframe src="/admin_regsoc_form1?soc_code=<%=id%>" class="medium-12 " height="500" name="left"></iframe>

		</div>

		<div class="medium-6 columns">
			<dl class="sub-nav">
			  <% if(Soc.constitution_ref_no != null){ %> <dd><a href="/files<%=Soc.constitution_ref_no%>" target="right">會章</a></dd> <% } %>
			  <dd><a href="/admin_regsoc_form1?soc_code=<%=id%>" target="right">表1</a></dd>
			  <dd><a href="/admin_regsoc_form2?soc_code=<%=id%>" target="right">表2</a></dd>
			  <dd><a href="/admin_regsoc_form3?form3=A&soc_code=<%=id%>" target="right">3A</a></dd>
			  <dd><a href="/admin_regsoc_form3?form3=B&soc_code=<%=id%>" target="right">3B</a></dd>
			  <dd><a href="/admin_regsoc_form3?form3=C&soc_code=<%=id%>" target="right">3C</a></dd>
			  <dd><a href="/admin_regsoc_form3?form3=D&soc_code=<%=id%>" target="right">3D</a></dd>
			  <dd><a href="/admin_regsoc_form4?soc_code=<%=id%>" target="right">表4</a></dd>
			  <dd><a href="/regsocform?soc_code=<%=id%>" target="right">審議表格</a></dd>
			</dl>
			<iframe src="/admin_regsoc_form4?soc_code=<%=id%>" class="medium-12 " height="500"  name="right"></iframe>
		</div>
	</div>
	</div>
</div>
<div id="myModal" class="reveal-modal" data-reveal>
  <h2>計算機科學系會</h2>
  <p class="lead" style="background-color: #a0d3e8;">處理中</p>
  <p>主要聯絡人: 3943 4268 何釣</p>
  <p>團體性質: 系會 </p>
  <p><a href="#">會章</a> | 會員人數: 301 | <a href="#">幹事會名單</a></p>
  </p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<% include footer %>