<% include header %>

<br>
<div class="row">

	<div class="medium-12 columns">
		<h1>屬下團體資料列表</h1>
		<table id="soc_table">	
			<thead>
				<tr> 
					<th width="100">編號</th>
					<th width="200">名稱</th>
					<th width="100">登記狀態</th>
					<th width="300"></th>
				</tr>
			</thead>
			<tbody>
				<% for(var i in soc_list) { %>
				<tr> 
					<td><%= soc_list[i].soc_code %></td>
					<td><a href="#" data-reveal-id="myModal"><%= soc_list[i].soc_name %></a></td>
					<% for(var j=0;j<Process.length;j++) { %>
						<% if(parseInt(Process[j].soc_code)==parseInt(soc_list[i].soc_code)) { %>
							<% if(Process[j].overall=="on") { %>
								<td style="background-color: #71e15a;">完成</td>
							<% }else{ %>
								<td style="background-color: #a0d3e8;">處理中</td>
							<% } %>
						<% }else{ %>
							<td style="background-color: #a0d3e8;">處理中</td>
					<% }} %>
					<td><a href="#" data-reveal-id="myModal">屬下團體資訊</a></td>
				</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>
<div id="myModal" class="reveal-modal" data-reveal>
  <h2>名稱</h2>
  <div><p class="lead" style="background-color: #a0d3e8;">進度</p></div>
  <p>主要聯絡人</p>
  <p>團體性質 </p>
  <p>會章 | 會員人數 | 幹事會名單</p>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="mem_list" class="reveal-modal" data-reveal>
  	<a data-reveal-id="myModal">返回</a>
  	<h2>幹事會名單</h2>
  	<table id="mem_list_table">	
		<thead>
			<tr> 
				<th width="100">職位</th>
				<th width="100">中文姓名</th>
				<th width="150">英文姓名</th>
				<th width="100">聯絡電話</th>
				<th width="100">書院</th>
				<th width="100">學系</th>
				<th width="100">年級</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
 	<a class="close-reveal-modal">&#215;</a>
</div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">
	var soc_detail = <%- JSON.stringify(soc_detail) %>;
	var soc_list = <%- JSON.stringify(soc_list) %>;
	var myModal = document.getElementById('myModal');
	var soc_table = document.getElementById('soc_table');
	var rowLength = soc_table.rows.length;
	var aTableA = null;
	var position = [];


	for(var i=0;i<rowLength;i++){
		var row = soc_table.rows[i];
		aTableA = row.getElementsByTagName('a');
		if(aTableA.length!=0){
			aTableA[0].index = aTableA[1].index = i;
			aTableA[0].whichSoc = aTableA[1].whichSoc = aTableA[0].innerHTML;
			aTableA[0].onclick = aTableA[1].onclick = function(){showDetail(this.index,this.whichSoc)};
		}
	}
	function showDetail(which,socName){
		var process_list = <%- JSON.stringify(Process) %>;
		var index = which-1;
		position = [];
		for(var i in soc_detail){
			if(soc_detail[i].soc_name==socName)
				position.push(i);
		}
		var socCode=null;
		var process;
		for(var j=0;j<soc_list.length;j++){//find soc code
			if(soc_list[j].soc_name==socName){
				socCode=soc_list[j].soc_code;
				break;
			}
		}

		if(socCode!=null){
			for(var k=0;k<process_list.length;k++){
				if(process_list[k].soc_code==socCode){
					process = process_list[k].overall;
					break;
				}
			}
		}

		console.log(index);
		if(index!=-1){
			var type = null;

			if(soc_detail[position[0]].soc_type=='dept'){
				type = "系會";
			}else if(soc_detail[position[0]].soc_type=='facu'){
				type = "院會";
			}else if(soc_detail[position[0]].soc_type=='club'){
				type = "屬會";
			}else if(soc_detail[position[0]].soc_type=='approved'){
				type = "認可會社";
			}

			myModal.getElementsByTagName("h2")[0].innerHTML = soc_list[index].soc_name;
			
			if(process!=undefined){
				myModal.getElementsByTagName("div")[0].innerHTML = '<p class="lead" style="background-color: #71e15a;">完成</p>';
			}else{
				myModal.getElementsByTagName("div")[0].innerHTML = '<p class="lead" style="background-color: #a0d3e8;">處理中</p>';
			}
	

			myModal.getElementsByTagName("p")[1].innerHTML = "主要聯絡人: "+soc_detail[position[0]].exco_member_phone+" "+soc_detail[position[0]].exco_member_Cname;
			myModal.getElementsByTagName("p")[2].innerHTML = "團體性質: "+type;
			if(soc_detail[position[0]].constitution_ref_no!=null)
				myModal.getElementsByTagName("p")[3].innerHTML = '<p><a href="/dl?d='+soc_detail[position[0]].constitution_ref_no+'">會章</a> | 會員人數: '+soc_detail[position[0]].num_of_mem+' | <a href="#" data-reveal-id="mem_list" onclick="show_mem_list()">幹事會名單</a></p>';
			else
				myModal.getElementsByTagName("p")[3].innerHTML = '<p><a href=#>會章</a> | 會員人數: '+soc_detail[position[0]].num_of_mem+' | <a href="#" data-reveal-id="mem_list" onclick="show_mem_list()"">幹事會名單</a></p>';
		}
	}
	function show_mem_list(){
		var table = document.getElementById('mem_list_table').getElementsByTagName('tbody')[0];
		table.innerHTML = '';
		var whichRow = 0;
		for(var i in position){
			var row = table.insertRow(whichRow);
			var cell1 = row.insertCell(0);
			var cell2 = row.insertCell(1);
			var cell3 = row.insertCell(2);
			var cell4 = row.insertCell(3);
			var cell5 = row.insertCell(4);
			var cell6 = row.insertCell(5);
			var cell7 = row.insertCell(6);

			cell1.innerHTML = soc_detail[position[i]].exco_member_post;
			cell2.innerHTML = soc_detail[position[i]].exco_member_Cname;
			cell3.innerHTML = soc_detail[position[i]].exco_member_Ename;
			cell4.innerHTML = soc_detail[position[i]].exco_member_phone;
			cell5.innerHTML = soc_detail[position[i]].exco_member_college;
			cell6.innerHTML = soc_detail[position[i]].exco_member_major;
			cell7.innerHTML = soc_detail[position[i]].exco_member_year_of_study;

			whichRow++;
		}
	}
	
</script>

<% include footer %>