

footer{
	text-align: center;
	font-size: 12px;
	color:#666;
}

.text-center{
	text-align: center;
}

#addidtional_info{
	height:500px;
}

.off-canvas-wrap, .inner-wrap{
	height: 100%;
}

.off-canvas-wrap{
	height: 100%;
	overflow-y:auto;
}

#chat{
	height:450px;
	overflow-y: scroll;
}
#chatWrap{
	float: left;
	border: 1px #000 solid;
}
#contentWrap{
	margin: 0 auto;
}
.error_message{
	display: block;
	padding: 4px;
	color: white;
	background: red;
}
.chat_left{
	color: gray;
	font-style: italic;
}		
.chat_right{
	color: green;
	font-style: italic;
}
#send_button{
	height: 30px;
	margin-left: 10px;
	margin-bottom: -8px;
}
input{
	margin: 0;
}